__pycache__/
settings.json
*.pyc
.venv/
venv/
build/
dist/
*.egg-info/
.vscode/
.idea/
Thumbs.db
Desktop.ini
*.png
*.pdf
*.csv
*.svg
AGENTS.md
Prompt.md
Prompt Template.md
.venv
.envrc
.DS_Store
.ruff_cache
settings.json